.container{
    display: grid;
    grid-template-columns: 50px 50px ;
    /* grid-template-columns:50px 50px 50px 50px ; */
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    'head1 head2'
    'footer1 footer2';
    /* grid-auto-flow: column; */
    /* gap: 20px; */

    /* justify the whole grid layout */
justify-content: center;
/* alligns the content inside the grit layout (top and bottom) */
align-items: center;
/* alligns the content inside the grid(right and left) */
justify-items: center;
}
.item1{
    grid-area: footer2;
}
.item4{
    grid-area: head1 ;
}
/* .item1{
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start:1 ;
    grid-column-end: 3;
    z-index: 1;
} 
.item2{
    grid-row: 1/3;
    grid-column: 3/5;
}
.item3{
    grid-area: 3/1/5/5;
}
.item4{
    grid-area: 3/5/5/4;
    grid-area: 2/2/4/5;
}  */


.item1{
    background-color: aquamarine;
}
.item2{
    background-color: bisque;
}
.item3{
    background-color: lavender;
}
.item4{
    background-color: palegoldenrod;
}
/* .item5{
    background-color: gray;
} */
.item{
color: rgba(235, 11, 29, 0.781);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}